<nav class="navbar is-link is-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'homepage' %}">Webcomic</a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarContent">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navbarContent">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Genre</a>
          <div class="navbar-dropdown">
            {% for genre in comic_genre %}
              <a class="navbar-item" href="{% url 'genre_detail' slug=genre.slug %}">{{ genre.name }}</a>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="navbar-end">
        {% if user.is_authenticated %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">{{ user.get_username }}</a>
            <div class="navbar-dropdown is-right">
              <a class="navbar-item" href="{% url 'comic_create' %}">Create New Comic</a>
              <hr class="navbar-divider">
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>
          </div>
        {% else %}
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-rounded is-success" href="{% url 'signup' %}">Sign Up</a>
              <a class="button is-rounded is-info" href="{% url 'login' %}">Login</a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</nav>