{% extends 'layouts/main_layout.html' %}

{% block meta_description %}Add image for your comic chapter{% endblock %}
{% block meta_keywords %}Comic, Create, Chapter, Image{% endblock %}
{% block title %}Add New Image{% endblock %}

{% block content %}
  <div class="container my-3">
    <h3>Add New Image</h3>
    <form method="POST" enctype="multipart/form-data" novalidate>
      {% csrf_token %}
      {% include 'includes/form.html' %}
      <button type="submit" class="btn btn-success">Submit</button>
      <a role="button" class="btn btn-secondary" href="{% url 'chapter_detail' comic_slug=comic_slug chapter_slug=chapter_slug %}">Cancel</a>
    </form>
  </div>
{% endblock %}