{% extends 'layouts/main_layout.html' %}

{% block meta_description %}
  {% if genre.description %}
    {{ genre.description }}
  {% else %}
    You can see many list comic in {{ genre.name }} genre's.
  {% endif %}
{% endblock %}

{% block meta_keywords %}Comic, Genre, {{ genre.name|lower }}{% endblock %}
{% block title %}{{ genre.name }}{% endblock %}

{% block content %}
  <div class="container my-3">
    <h3>{{ genre.name }}</h3>

    <div class="row">
      {% for comic in comics %}
        <div class="col col-lg-3 col-md-4 col-6">
          <div class="card">
            {% if comic.thumbnail %}
              <img src="{{ comic.thumbnail.url }}" class="card-img-top img-fluid" alt="Thumbnail {{ comic.title }}">
            {% else %}
              <img src="{{ DEFAULT_THUMBNAIL }}" class="card-img-top img-fluid" alt="Thumbnail {{ comic.title }}">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'comic_detail' comic.slug %}">{{ comic.title }}</a></h5>
              <p class="card-text">{{ comic.author.username }}</p>
            </div>
          </div>
        </div>
      {% empty %}
        <h4>Sorry, there are no comics for this genre.</h4>
      {% endfor %}
    </div>

    {% if comics.has_previous or comics.has_next %}
      <div class="row my-3">
        <div class="col col-12">
          {% include 'includes/pagination.html' with objects=comics pagination=pagination only %}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}