{% extends 'layouts/main_layout.html' %}

{% block meta_description %}Webcomic is free comic service. Feel free to blablabla{% endblock %}
{% block meta_keywords %}Online Comic, Free Comic, Digital Comic{% endblock %}
{% block title %}Webcomic - Free Comics Service{% endblock %}

{% block content %}
  <div class="container my-3">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}
    <h1>This is homepage</h1>
  </div>
{% endblock %}
