{% extends 'layouts/main_layout.html' %}

{% block meta_description %}Webcomic is free comic service. Feel free to blablabla{% endblock %}
{% block meta_keywords %}Online Comic, Free Comic, Digital Comic{% endblock %}
{% block title %}Webcomic - Free Comics Service{% endblock %}

{% block content %}
  <div class="container my-3">
    {% if messages %}
      {% include 'includes/alert_message.html' %}
    {% endif %}

    <h1>This is homepage</h1>

    <div class="row">
      <div class="col col-12">
        {% for comic in comics %}
          <h3>
            <a href="{% url 'comic_detail' slug=comic.slug %}">{{ comic.title }}</a>
          </h3>
        {% empty %}
          <h3>There are no comics for now.</h3>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
