{% extends 'layouts/main_layout.html' %}

{% block meta_description %}Webcomic user login page{% endblock %}
{% block meta_keywords %}Free Comic, Login, User{% endblock %}
{% block title %}Login{% endblock %}

{% block content %}
  <section class="section container">
    <div class="columns is-centered">
      <div class="column is-one-third-desktop is-half-tablet">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">Login</p>
          </header>
          <div class="card-content">
            <form method="POST" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="button is-primary is-fullwidth">Login</button>
            </form>
          </div>
          <footer class="card-footer has-text-grey text-center">
            <p class="card-footer-item">Not registered yet?&nbsp;<a class="is-white" href="{% url 'signup' %}">Sign up</a></p>
          </footer>
        </div>
        <div class="has-text-centered py-2">
          <a href="#" class="">Forgot your password?</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
