{% extends 'layouts/main_layout.html' %}

{% block extra_meta %}<meta name="robots" content="noindex,nofollow">{% endblock %}
{% block title %}Author Page{% endblock %}

{% block content %}
  <div class="container my-3" id="main-content">
    <h1>{{ comic.title }}</h1>
    <div class="row">
      <div class="col col-md-9 col-12">
        <author-chapter-container url="{% url 'api_chapter_list_by_comic' comic_slug=comic.slug %}?view=author"></author-chapter-container>
      </div>
      <div class="col col-md-3 col-12">
        <div class="card">
          <div class="card-header">Comic Info</div>
          <div class="card-body">
            <a href="{% url 'chapter_create' comic_slug=comic.slug %}" class="btn btn-primary">New Chapter</a>
            <h5>Genre: <a href="{% url 'genre_detail' slug=comic.genre.slug %}">{{ comic.genre.name }}</a></h5>
            Thumbnail:
            {% if comic.thumbnail %}
              <img src="{{ comic.thumbnail.url }}" class="img-fluid">
            {% else %}
              <img src="{{ DEFAULT_THUMBNAIL }}" class="img-fluid">
            {% endif %}
            Banner:
            {% if comic.banner %}
              <img src="{{ comic.banner.url }}" class="img-fluid">
            {% else %}
              <img src="{{ DEFAULT_BANNER }}" class="img-fluid">
            {% endif %}
            <p>Status: {{ comic.get_state_display }}</p>
            <p>Description: {{ comic.description }}</p>
            <p>Created At: {{ comic.created_at|date:"d-m-Y" }}</p>
            <p>Last Update: {{ comic.updated_at|date:"d-m-Y" }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_script %}
<script>
  new Vue({
    el: '#main-content',
  })
</script>
{% endblock %}