<div class="modal-header">
  <h5 class="modal-title" id="modal-title">New Comic</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form action="{% url 'comic_create' %}" method="POST" enctype="multipart/form-data" onsubmit="submitFormAjax(this); return false;" novalidate>
  <div class="modal-body">
    {% csrf_token %}
    {% include 'includes/form.html' %}
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
</form>