{% extends 'layouts/main_layout.html' %}
{% load static %}

{% block meta_description %}{{ comic.description }}{% endblock %}
{% block meta_keywords %}Read, Comic, Free, {{ comic.genre.name }}{% endblock %}
{% block title %}{{ comic.title }}{% endblock %}

{% block content %}
  <div class="comic-detail-banner d-none d-md-block">
    {% if comic.banner %}
      <img src="{{ comic.banner.url }}" class="img-fluid" alt="Banner {{ comic.title }}">
    {% else %}
      <img src="{{ DEFAULT_BANNER }}" class="img-fluid" alt="Banner {{ comic.title }}">
    {% endif %}
  </div>

  <div id="main-content" class="container my-3">
    {% if messages %}
      {% include 'includes/alert_message.html' %}
    {% endif %}

    <div class="row">
      <div class="col col-md-9 col-12">
        <h3>{{ comic.title }}</h3>
        <p>
          Genre: <a href="{% url 'genre_detail' slug=comic.genre.slug %}">{{ comic.genre.name }}</a>
          - {{ comic.get_state_display }}
        </p>
        <div>
          <div class="mt-2" id="chapter-container"></div>
        </div>
      </div>
      <div class="col col-md-3 col-12">
        <div>
          <div class="mt-2">
            {% if user.is_authenticated %}
              {% if user == comic.author or user.is_superuser %}
                <a role="button" href="{% url 'comic_update' slug=comic.slug %}" class="btn btn-primary">
                  <i class="fas fa-edit"></i> Edit
                </a>
                {% if comic.state == 0 %}
                  <a role="button" href="{% url 'comic_state' slug=comic.slug state=1 %}" class="btn btn-success">Publish</a>
                {% elif comic.state == 1 %}
                  <a role="button" href="{% url 'comic_state' slug=comic.slug state=9 %}" class="btn btn-secondary">Archive</a>
                {% else %}
                  <a role="button" href="{% url 'comic_state' slug=comic.slug state=0 %}" class="btn btn-secondary">Set to Draft</a>
                {% endif %}
              {% endif %}
              <!--<button class="btn btn-success" id="btn-new-chapter" data-toggle="modal" data-target="#webcomic-modal">-->
                <!--<i class="fas fa-plus-circle"></i> New Chapter-->
              <!--</button>-->
            {% endif %}
            <p>{{ comic.description }}</p>
          </div>
        </div>
        <div class="comic-detail-thumbnail mt-2">
          {% if comic.thumbnail %}
            <img src="{{ comic.thumbnail.url }}" class="img-fluid">
          {% else %}
            <img src="{{ DEFAULT_THUMBNAIL }}" class="img-fluid">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_script %}
<!--<script type="text/babel" src="{# % static 'js/react-chapter-list.js' % #}"></script>-->
<!--<script type="text/babel" src="{# % static 'js/react-pagination.js' % #}"></script>-->
<script type="text/javascript">
  var chapterContainer = document.getElementById('chapter-container');
  var url = "{% url 'comic_chapter_ajax' comic_slug=comic.slug %}";
  $.get(url, function(response) {
    if (response.success && response.chapters.length > 0) {
      for (var i=0;i<response.chapters.length;i++) {
        var chapter = response.chapters[i];
        chapterContainer.innerHTML += getChapterList(chapter);
      }
    } else {
      chapterContainer.innerHTML += getNoChapterText();
    }
  });
</script>
<script type="text/babel">
  /*
  const mainContent = document.getElementById('main-content');
  let url = "{% url 'comic_chapter_ajax' comic_slug=comic.slug %}";

  {% if request.GET and request.GET.page %}
    url += '?page=' + {{ request.GET.page }};
  {% endif %}

  axios.get(url).then((response) => {
    const data = response.data;
    if (data.success) {
      if (data.chapters.length > 0) {
        mainContent.innerHTML += '<div id="chapter-container"></div>';
        const chapterContainer = document.getElementById('chapter-container');
        ReactDOM.render(<ChapterList chapters={data.chapters}/>, chapterContainer);
      }

      if (data.pagination.has_prev || data.pagination.has_next) {
        mainContent.innerHTML += '<div id="pagination-container"></div>';
        const paginationContainer = document.getElementById('pagination-container');
        ReactDOM.render(<Pagination pagination={data.pagination}/>, paginationContainer);
      }
    }
  });
  */
</script>
{% endblock %}