{% extends 'layouts/main_layout.html' %}

{% block meta_description %}{{ comic.description }}{% endblock %}
{% block meta_keywords %}Read, Comic, Free,{{ comic.genre.name }}{% endblock %}
{% block title %}{{ comic.title }}{% endblock %}

{% block content %}
  <div class="container my-3">
    {% if messages %}
      {% include 'includes/alert_message.html' %}
    {% endif %}

    <h3>{{ comic.title }}</h3>
    <p>{{ comic.get_state_display }}</p>

    <p>{{ comic.description }}</p>

    {% if user.is_authenticated and user == comic.author %}
      <a role="button" href="{% url 'comic_update' slug=comic.slug %}" class="btn btn-primary">Edit</a>
      {% if comic.state == 0 %}
        <a role="button" href="{% url 'comic_state' slug=comic.slug state=1 %}" class="btn btn-success">Publish</a>
      {% elif comic.state == 1 %}
        <a role="button" href="{% url 'comic_state' slug=comic.slug state=9 %}" class="btn btn-secondary">Archive</a>
      {% else %}
        <a role="button" href="{% url 'comic_state' slug=comic.slug state=0 %}" class="btn btn-secondary">Set to Draft</a>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}