{% extends 'layouts/main_layout.html' %}

{% block meta_description %}Create your new comic{% endblock %}
{% block meta_keywords %}Comic, Update{% endblock %}
{% block title %}{{ comic.title }}{% endblock %}

{% block content %}
  <div class="container my-3">
    <h3>Update {{ comic.title }}</h3>
    <form method="POST" novalidate>
      {% csrf_token %}
      {% include 'includes/form.html' %}
      <button type="submit" class="btn btn-success">Update</button>
      <a role="button" class="btn btn-secondary" href="{% url 'comic_detail' slug=comic.slug %}">Cancel</a>
    </form>
  </div>
{% endblock %}